version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      timezone: Asia/Tokyo
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    cooldown:
      default-days: 3
    groups:
      actions:
        patterns:
          - '*'

  - package-ecosystem: npm
    directories:
      - '/'
    schedule:
      interval: daily
      timezone: Asia/Tokyo
    cooldown:
      default-days: 3
      exclude:
        - 'pnpm'
    allow:
      - dependency-type: all
    rebase-strategy: auto
    assignees:
      - poad
    groups:
      npm:
        patterns:
          - '*'
